*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

/* arrow left and nav bar*/
nav {
  margin: 0 auto; /*top and bottom are 0. left and right auto determined to be equal */
  padding: 15px 0 15px 15px; /* order: top, right, bottom, left */
  position: fixed;
  width: 420px;
  background-color: #000000;
}
.arrow-left {
  font-size: 0.8em;
}

.restaurant-list {
  padding-top: 40px;
  width: 100%;
  background-color: #DEDEDE;
}

/* add horizontal line between each location */
.location {
  border-bottom: 0.5px solid #797878; /* this is the line */
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: yellow; */
}

/* hover color */
.location:hover {
  background-color: #B3B3B3;
}

.content  {
  padding-left: 15px;
  display: inline-block;
  /* background-color: red; */
}

/* h1 content styling */
h1 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
  display: inline-block;
}

.arrow {
  padding-right: 15px;
  float: right;
  margin-top: 7px;
  font-size: 0.8em;

}
